<template>
    <div id="wrapper">
        <div class="back-pone"></div>
        
    <div class="container">
        <StaticDrawerComponent setactive="6"/>
        <div class="right-container-tab">
            <div class="safe" @click="safe">
                <p>Скачать</p>
            </div>
            <div class="r-c-cont">
                <div class="r-c-heder-cont">
                    <div class="r-c-left">
                        <vs-input class="sisi" placeholder="Поиск" v-model="searchs"/>
                        <vs-button radius color="primary" type="flat" icon="search" @click="search"></vs-button>
                    </div>
                    <div class="r-c-left">
                        <span class="span">от</span>
                        <vs-input class="sisi2" type="date" v-model="date1"/>
                        <span class="span">до</span>
                        <vs-input class="sisi2" type="date" v-model="date2"/>
                        <vs-button radius color="primary" type="flat" icon="search" class="vs-button" @click="searchdate"></vs-button>
                    </div>
                    <div class="r-c-left">
                        <vs-select
                            v-model="categoty_id"
                            class="sisi"
                            >
                            <vs-select-item :key="index" :value="item.c_id" :text="item.c_name" v-for="(item, index) in categories" />
                        </vs-select>
                        <vs-button radius color="primary" type="flat" icon="search" class="vs-button" @click="searchSel"></vs-button>
                    </div>
                </div>
                <div class="r-c-b-cont">
                    <table class="table" id="table">
                        <thead class="thead">
                            <tr>
                                <th scope="col">номер</th>
                                <th scope="col">название</th>
                                <th scope="col">категория</th>
                                <th scope="col">дата</th>
                                <th scope="col">автор</th>
                                <th scope="col">сотрудник</th>
                                <th scope="col">от кого</th>
                                <th scope="col">дата учета</th>
                                <th scope="col">состояние</th>
                            </tr>
                        </thead>
                        <tbody class="sc-t-body">
                        <tr class="tr-body" :key="index" v-for="(item, index) in data" @click="view(item.g_id)">
                            <th>{{ item.g_id }}</th>
                            <th>{{ item.g_name }}</th>
                            <th>{{ item.c_name }}</th>
                            <th>{{ item.g_year }}</th>
                            <th>{{ item.a_name }} {{ item.a_surname }} </th>
                            <th>{{ item.w_name }} {{ item.w_surname }}</th>
                            <th>{{ item.i_fromwhom }}</th>
                            <th>{{ item.i_recordingdate }}</th>
                            <th>{{ item.g_safety }}</th>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
        </div>
    </div>
</template>


<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css'
import * as api from '../../../api/api';
import TableExport from 'tableexport'
import xlsx from 'xlsx'
import { saveAs } from 'file-saver';

import StaticDrawerComponent from "../CustomComponent/StaticDrawerComponent"
import { throws } from 'assert';
Vue.use(Vuesax)


export default {
    components: { StaticDrawerComponent },
    data: () => ({
        searchs: '',
        data: null,
        date1: '',
        date2: '',
        categories: '',
        categoty_id: '',
    }),
    methods: {
        getGalety(){
            api.getGaleryall()
            .then(data => {                
                this.data = data;
            })
        },
        getCategories(){
            api.getCategoties()
            .then(data => {
                let mass = {
                    'c_id': '',
                    'c_name': 'все'
                }
                data.push(mass);
                // console.log(data);

                
                this.categories = data;
            })
        },
        view(id){
            console.log(id);
            this.$router.push("/wiev/" + id);
        },
        search(){
            api.search(this.searchs)
            .then(data => {
                this.data = data;
                // console.log(data);
                
            })
        },
        searchdate(){
            if(this.date1 > this.date2){
                this.$vs.notify({
                    title:'error',
                    text:'от не должно быть больше до',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }
            api.searchdate(this.date1, this.date2)
            .then(data => {
                this.data = data;
            })
        },
        searchSel(){
            let id = this.categoty_id;
            // console.log(id);
            if(id == "")
                id = [1, 2, 3, 4]
                
            api.searchcategory(id)
            .then(data => {
                this.data = data;

            })
        },
        safe(){
            var workbook = xlsx.utils.table_to_book(document.getElementById('table'));
            console.log(workbook);
            var wopts = { bookType:'xlsx', bookSST:false, type:'array' };
            var wbout = xlsx.write(workbook,wopts);
            saveAs(new Blob([wbout],{type:"application/octet-stream"}), "table.xlsx");
        }
    },
    mounted(){
        this.getGalety();      
        this.getCategories();      
    }
}
</script>

<style>

.cati{
    display: flex;
    flex-direction: row;
}

.sisi{
    width: 130px;
}

.sisi2{
    width: 150px;
}

.container{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.safe{
    position: absolute;
    bottom: 11%;
    left: 50px;
    width: 100px;
    height: 40px;
    background-color: #1F74FF;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 444;
}
.hear{
    width: calc(100vw - 200px);
    height: 50px;
    border-bottom: 0.1px solid red;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.sear{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    align-items: center;
}
.sear span{
    padding-left: 5px;
    padding-right: 5px;
}

.vs-button{
    margin-left: 10px;
    margin-top: -5px;
    padding-top: -5px;
}
.left-drawer{
    width: 250px;
    height: 100vh;
}

.right-container-tab{
    height: 100vh;
    width: calc(100vw - 500px);
    z-index: 2;
    /* overflow-y: auto; */
    padding-left: 10px;
    /* padding-right: 10px; */
    /* overflow-x: none; */
}

.r-c-cont{
    width: calc(100vw - 210px);
    /* background-color: #1F74FF; */
    height: 100vh;
}

.r-c-heder-cont{
    width: 100%;
    height: 50px;
    border-bottom: 0.1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.r-c-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span{
    padding-left: 5px;
    padding-right: 5px;
}

.r-c-b-cont{
    position: relative;
    overflow-x: hidden;
    will-change: transform; 
    /* width: cacl(100vw - 230px); */
    height: calc(100vh - 50px);
    /* overflow: hidden; */
    /* height: 100vh; */
    /* overflow-y: auto;
    will-change: transform; */
    /* display: flex; */
    /* justify-content: flex-start; */
}

.table{
    width: 100%;
}


.thead{
    background-color: blueviolet;
    cursor: default;   
    color: #fff;
}
.sc-t-body{
    height: 100%;
    /* height: calc(100vh - 80px); */
    overflow-y: auto;
    will-change: transform;
}

.tr-body{
    /* height: calc(100vh - 50px); */
    transition: 0.7s;
    cursor: default;    
}

.tr-body:hover{
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(137, 43, 226, 0.253);
}

</style>

