<template>
        <div id="wrapper">
            <div class="back-pone"></div>
            <div class="container">
                <div class="goback">
                    <p class="ppp" v-on:click="back">Назад</p>
                </div> 
                <div class="tabs">
                    <vs-tabs :color="colorx" vs-alignment="center">
                    <vs-tab @click="colorx = 'success'" vs-label="Введение">
                        <div class="con-tab-ejemplo">
                        Эта программа предназначена для автоматизации управления музейными экспонатами.<br>
                        Очень важной особенность является, что все данные хранятся в электронном виде. Очень легко добавлять новые экспонаты, просматривать.
                        Можно легко узнать каким сотрудником был принят экспонат, его стоимость и прочую информацию.
                        
                        </div>
                    </vs-tab>
                    <vs-tab @click="colorx = 'danger'" vs-label="Инструкция">
                        <div class="con-tab-ejemplo">
                            <vs-collapse>
                                <vs-collapse-item>
                                <div slot="header">
                                    регистрация/автоматизация
                                </div>
                                <div class="wrapi">
                                    <div class="im">
                                        <img src="../../assets/auth.png" alt="" srcset="">
                                    </div>
                                    <div class="texti">
                                        <h2>Авторизация</h2>
                                        <p>Для работы с приложением необходимо аворизоваться указав в полях логин и пароль</p>
                                    </div>
                                </div>
                                <vs-divider/>
                                <div class="wrapi">
                                    <div class="im2">
                                        <img src="../../assets/reg.png" alt="" srcset="">
                                    </div>
                                    <div class="texti">
                                        <h2>Регистрация</h2>
                                        <p>Если у вас нет данных для авторизации, следует пройти регистрацию заполнив все поля. После успешного ответа вы вожете вернуться к предыдущему пункту</p>
                                    </div>
                                </div>
                                </vs-collapse-item>
                                <vs-collapse-item>
                                <div slot="header">
                                    навигация
                                </div>
                                <div class="wrapi">
                                    <div class="im2">
                                        <img src="../../assets/navi.png" alt="" srcset="">
                                    </div>
                                    <div class="texti">
                                        <h2>Навигационное меню</h2>
                                        <p>Основное взаимодействеи с программой осуществляется через это боковое меню. С помощью него происходит изменение категорий, указание какой сейчас пользователь авторизован и также возможность выйти для дальнейшей авторизации другим пользователем</p>
                                    </div>
                                </div>
                                </vs-collapse-item>
                                <vs-collapse-item>
                                <div slot="header">
                                    Добавление нового экспоната
                                </div>
                                <div class="wrapi">
                                    <div class="im">
                                        <img src="../../assets/exp.png" alt="" srcset="">
                                    </div>
                                    <div class="texti">
                                        <h2>Экран добавления экспоната</h2>
                                        <p>В этом окне происходит добавление нового экспоната. Для успешного добавления необходимо казать все данные. Предусмотрено быстрое добавление автора экспоната, если такового еще нет в списке. При добавление
                                             учитывает какой пользователь сейчас авторизован.
                                        </p>
                                    </div>
                                </div>
                                </vs-collapse-item>
                                <vs-collapse-item>
                                <div slot="header">
                                    Добавление нового автора
                                </div>
                                <div class="wrapi">
                                    <div class="im">
                                        <img src="../../assets/aut.png" alt="" srcset="">
                                    </div>
                                    <div class="texti">
                                        <h2>Экран добавления автора</h2>
                                        <p>В этом окне происходит добавление нового Автора экспоната. Для успешного добавление кажите все данные.
                                        </p>
                                    </div>
                                </div>
                                </vs-collapse-item>
                            </vs-collapse>
                        </div>
                    </vs-tab>
                    <vs-tab @click="colorx = 'warning'" vs-label="Об авторе">
                        <div class="con-tab-ejemplo">
                            Автором программы " chocolate" для автоматизации учета музейных экспонатов является Стацура Виталий, учащийся 4 курса колледжа Бизнеса и Права, группу Т-594.
                        </div>
                    </vs-tab>
                    <!-- <vs-tab @click="colorx = 'dark'" vs-label="Dark">
                        <div class="con-tab-ejemplo">
                        Dark
                        </div>
                    </vs-tab>
                    <vs-tab @click="colorx = 'rgb(16, 233, 179)'" vs-label="RGB | HEX">
                        <div class="con-tab-ejemplo">
                        RGB | HEX
                        </div>
                    </vs-tab> -->
                    </vs-tabs>
                </div>
            </div>        
        </div>
</template>

<script>
export default {
 data:()=>({
    colorx:'success'
  }),
methods:{
    back(){
        this.$router.back();
    }
}
}
</script>

<style scoped> 
.goback{
    cursor: pointer;
    z-index: 44;
    position: fixed;
}

.container{
    overflow-y: auto; 
}
.tabs{
    width: 100vw;
    height: 100vh;
}

.con-tab-ejemplo{
    margin-top: 20px;
}
.wrapi{
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.texti{
    padding: 10px;
}
.im img {
    width: 500px;
}

</style>
