<template>
    <div id="wrapper">
        <div class="back-pone"></div>
        
    <div class="container">
        <StaticDrawerComponent setactive="1"/>
        <div class="right-container">
            <div class="subr-conteiner">
                <div class="header-cont">
                    <vs-button color="danger" type="flat" icon="book" @click="addExponat">Добавить экспонат</vs-button>
                    <vs-button color="danger" type="flat" icon="person_add" @click="addAuthors">Добавить авторов</vs-button>
                </div>
                <div class="content">
                    <h3>Welome to Chocolate</h3>
                    <img src="../../assets/logo2.png" alt="" srcset="">
                </div>
                <div class="footer">
                    <div>
                        developer by &nbsp;<p> teivienn</p>
                    </div>
                    <vs-button color="danger" type="flat" icon="help_outline" @click="help">Справка</vs-button>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>


<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css'

import StaticDrawerComponent from "../CustomComponent/StaticDrawerComponent"
Vue.use(Vuesax)


export default {
    name: 'HomePageComponent',
    components: { StaticDrawerComponent },
    methods: {
        addExponat (){
            this.$router.push("/add");
        },
        addAuthors(){
            this.$router.push("/addauthor");
        },
        help(){
            this.$router.push("/help");

        }
    }

}
</script>

<style >

.container{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
}


.left-drawer{
    width: 250px;
    height: 100vh;
}

.right-container{
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow: auto;
}

.header-cont{
    width: 100%;
    height: 60px;
    border-bottom: 0.1px solid red;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content{
    widows: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:blueviolet;
}

.content img{
    margin-top: 20px;
    width: 200px;
}


.footer{
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 0.1px solid red;
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer p{
    color: red;
}


</style>

