<template>
    <div id="wrapper">
        <div class="back-pone"></div>
        
    <div class="container">
        <StaticDrawerComponent setactive="3"/>
        <div class="right-container">
            <div class="r-v-container">
            <div :key="index" class="galery-cont" v-for="(item, index) in datas" @click="view(item.g_id)">
                <div class="left-c">
                    <img :src="item.g_image">
                </div>
                <div class="right-c">
                    <div class="head">
                        
                    </div>
                    <div class="body">
                        <p><b>{{ item.g_name }}</b></p>
                    </div>
                    <div class="foot">
                        <p>{{ item.g_year }}</p> 
                        <!-- <p>{{  item.g_safety }}</p> -->
                    </div>
                </div>
            </div>
        </div>
        </div>     
        </div>
    </div>
</template>


<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css'
import * as api from '../../../api/api';

import StaticDrawerComponent from "../CustomComponent/StaticDrawerComponent"
Vue.use(Vuesax)


export default {
    name: 'PaintPageComponent',
    components: { StaticDrawerComponent },
    data: () => ({
        df: 'sdfg',
        datas: null
    }),
    methods: {
        getGalety(){
            api.getGalery(2)
            .then(data => {                
                this.datas = data;
            })
        },
        view(id){
            console.log(id);
            this.$router.push("/wiev/" + id);
        }
    },
    mounted(){
        this.getGalety();
    }
}
</script>

<style scoped>

.container{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
}


.left-drawer{
    width: 250px;
    height: 100vh;
}

.right-container{
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow-y: auto;
    will-change: transform;
}


.r-v-container{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.galery-cont{
    border-radius: 10px;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    width: 370px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.7s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galery-cont:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    background-color: rgba(252, 4, 169, 0.568);
    cursor: default;
}

.left-c{
    width: 120px;
    height: 150px;
}

.right-c{
    height: 150px;
    width: 225px;
    padding: 15px;
}

.left-c img{
    width: 150px;
    height: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

</style>

