<template>
    <div id="wrapper">
        <div class="back-pone"></div>
        
    <div class="container">
        <StaticDrawerComponent setactive="5"/>
        <div class="right-container">
               <div class="r-v-container">
                    <div :key="index" class="galery-cont" v-for="(item, index) in datas" @click="view(item.g_id)">
                        <div class="left-c">
                            <img :src="item.g_image">
                        </div>
                        <div class="right-c">
                            <div class="head">
                                
                            </div>
                            <div class="body">
                                <p><b>{{ item.g_name }}</b></p>
                            </div>
                            <div class="foot">
                                <p>{{ item.g_year }}</p> 
                                <!-- <p>{{  item.g_safety }}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>


           
        </div>
    </div>
</template>


<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css'
import * as api from '../../../api/api';

import StaticDrawerComponent from "../CustomComponent/StaticDrawerComponent"
Vue.use(Vuesax)


export default {
    name: 'PhotoPageComponent',
    components: { StaticDrawerComponent },
    data: () => ({
        df: 'sdfg',
        datas: null
    }),
    methods: {
        getGalety(){
            api.getGalery(4)
            .then(data => {                
                this.datas = data;
            })
        },
        view(id){
            console.log(id);
            this.$router.push("/wiev/" + id);
        }
    },
    mounted(){
        this.getGalety();
    }
}
</script>

<style >

.container{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
}


.left-drawer{
    width: 250px;
    height: 100vh;
}

.right-container{
    height: 100vh;
    width: 100vw;
    z-index: 2;
}


</style>

