<template>
      <div id="wrapper">
        <div class="back-pone"></div>
        <div class="container">
            <div class="goback">
                <p class="ppp" v-on:click="fun">Назад</p>
            </div>
            <div class="print">
                <p class="ppp" v-on:click="Print">Печать</p>
            </div>
            <div class="container-c">
                <div class="bread">
                    <p>{{ data.c_name }}<span class="vs-breadcrum--separator">/</span></p>
                </div> 
                <div class="sub-cont">
                    <h1>{{ data.g_name }}</h1>
                    <div class="img">
                        <img :src="data.g_image" alt="" srcset="">
                    </div>
                    <vs-list class="list">
                        <vs-list-header title="О экспонате"></vs-list-header>
                        <vs-list-item title="Автор" :subtitle="data.a_name + ' ' +data.a_surname"></vs-list-item>
                        <vs-list-item title="Год" :subtitle="data.g_year"></vs-list-item>
                        <vs-list-item title="Состояние" :subtitle="data.g_safety"></vs-list-item>
                        <vs-list-item title="Описание" :subtitle="data.g_description"></vs-list-item>
                        <vs-list-item title="Категирия" :subtitle="data.c_name"></vs-list-item>


                        <vs-list-header title="Сведения в инвентарной книге" color="success"></vs-list-header>
                        <vs-list-item title="Принявший сотрудник" :subtitle="data.w_name + ' ' + data.w_surname"></vs-list-item>
                        <vs-list-item title="От кого" :subtitle="data.i_fromwhom"></vs-list-item>
                        <vs-list-item title="Дата принятия" :subtitle="data.i_recordingdate"></vs-list-item>
                        <vs-list-item title="Цена" :subtitle="data.i_price"></vs-list-item>


                    </vs-list>
                </div>
            </div>
        </div>
      </div>
</template>

<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css'
import * as api from '../../../api/api';

Vue.use(Vuesax)


export default {
    props:{
        id: '',
    },
    data(){
        return{
            data: []
        }
    },
    created(){
        // console.log(this.id);
    },
    mounted(){
        this.getWiev();
        console.log(this.data.g_image);                


    },
    methods: {
        fun(){
            this.$router.back();
        },
        getWiev(){
            console.log(this.id);
            
            api.getWievGalery(this.id)
            .then(data => {
                console.log(data);                
                this.data = data;
            })
            
        },
        Print(){
            window.print();
        }
    }


}
</script>

<style >
.container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container-c{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    will-change: transform;

}

.goback{
    cursor: pointer;
    position: fixed;
    z-index: 999;
}

.print{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
    height: 40px;
    background-color: #1F74FF;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    z-index: 999;
}

.bread{
    widows: 100%;
    height: 50px;
    border-bottom: 0.1px solid red;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.sub-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 450px;
    display: flex;
    justify-content: center;    
}

.list{
    width: 450px;
}


@media print {
    .print{
        visibility: hidden;
    }
    .goback{
        visibility: hidden;
    }
    .bread{
        visibility: hidden;
    }
}
</style>
