<template>
    <div>
        <Loading v-if="!loading" :intervar="1000"/>
        <div v-if="loading" id="wrapper">
            <div class="back-pone"></div>
            <div class="centerx"></div>
            <div  class="container-login">
                <h3>Авторизация</h3>
                <div class="inputs">
                    <vs-input class="login"  color="rgb(213, 14, 151)" placeholder="Логин" v-model="login"/>
                    <vs-input class="pass" color="rgb(213, 14, 151)" placeholder="Пароль" type="password" v-model="password"/>
                </div>
                <div class="buttons-login">
                <vs-button class="reg" v-on:click="Logins" color="primary" type="filled">Войти</vs-button>
                <vs-button class="reg" v-on:click="getReg" color="danger" type="filled">Регистрация</vs-button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import Vue from 'vue'
    import Vuesax from 'vuesax'
    import 'vuesax/dist/vuesax.css' //Vuesax styles
    import 'material-icons/iconfont/material-icons.css';
    import Loading from './LoadingComponent/LoadingComponent';
    import * as api from '../../api/api';
    const md5 = require('md5');

    Vue.use(Vuesax)
    // Vue.use(Router)

    export default Vue.extend({
        name: 'LoginPageComponent',
        components: { Loading },
        data() {
            return {
                login: "",
                password: "",
                loading: false
            }
        },
        methods: {
            getReg: function(){
                this.$router.push("reg");
                // alert("click")
            },

            Logins(){
                if(this.login != "" && this.password != ""){
                    // console.log('log', this.login);
                    // console.log('pas', md5(this.password));
                    let login = this.login;
                    let password = md5(this.password);
                    api.Login(login, password)
                    .then(data =>{
                        // console.log(data.length);
                        
                        if(data.length == undefined || data.length == 0){
                            this.$vs.notify({
                                title:'Error',
                                text:'Данные введены не верно',
                                color: '#f8173e',
                                position: 'top-center'
                            })
                            return;
                        }else{
                            localStorage.setItem("user_id",data[0]['w_id']);
                             localStorage.setItem("user",data[0]['w_name'] + ' ' + data[0]['w_surname']);
                            // localStorage.setItem("user_id",data.w_id);
                            
                            // this.$vs.loading({
                            //     color:this.colorLoading,
                            //     scale: 1.5,
                            //     container: '.centerx'
                            // }),
                            setTimeout(() => {
                                this.$router.push("home");
                            }, 900)

                        }
                        
                    })
                }else{
                    alert('error')
                }

                
            },
            goHome(){
                var log = localStorage.getItem("user_id");
                if(log){
                    this.$router.push("home");
                }
            }
        },
        mounted(){
            setTimeout( ()=> {
                this.loading = true;
            }, 800);
            setTimeout(() => {
                this.goHome();
            }, 500)
        }
        
    })
</script>


<style>
  @import url('https://fonts.googleapis.com/css?family=Philosopher');

    #wrapper{
        /* box-sizing: border-box;  */
        height: 100vh;
        width: 100vw;
    }

    .back-pone{
        background-image: url("~@/assets/back.png");
        background-position: center;
        background-repeat: no-repeat, repeat;
        background-size: cover;
        opacity: 0.2;
        filter: blur(100px);
        height: 100vh; 
        width: 100vw;
    }

    .container-login{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .buttons-login{
        display: flex;
        flex-direction: row;
    }

    .login{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pass{
        margin-bottom: 20px;
    }
    .reg{
        width: 150px;
        margin: 15px;
    }
</style>


























