<template>
    <div id="wrapper">
        <div class="back-pone"></div>

        <div class="container-login">
        <div class="goback">
            <router-link to="/"><p class="ppp">Назад</p></router-link>
        </div>
        <h3>Регистрация</h3>
        <div class="inputs">
            <vs-input class="login"  color="rgb(213, 14, 151)" placeholder="Имя" v-model="w_name"/>
            <vs-input class="login"  color="rgb(213, 14, 151)" placeholder="Фамилия" v-model="w_surname"/>
            <vs-input class="login"  color="rgb(213, 14, 151)" type="date" v-model="w_date"/>
            <vs-input class="login"  color="rgb(213, 14, 151)" placeholder="Логин" v-model="login"/>
            <vs-input class="pass"  color="rgb(213, 14, 151)" placeholder="Пароль" type="password" v-model="password"/>
        </div>
          <vs-button class="reg" v-on:click="reg" color="danger" type="filled">Зарегстрироваться</vs-button>
        

        </div>
     
    </div>
</template>


<script>
    import Vue from 'vue'
    import Vuesax from 'vuesax'
    import 'vuesax/dist/vuesax.css' //Vuesax styles
    import * as api from '../../api/api';
import { log } from 'util';
import { setTimeout } from 'timers';
    const md5 = require('md5');


    Vue.use(Vuesax)
    export default Vue.extend({
        name: 'RegPageComponent',
        data() { 
            return{
                w_name: '',
                w_surname: '',
                w_date: '',
                login: '',
                password: ''
            }
        }, 
        methods: {
            reg(){

                console.log(this.w_name != "" && this.w_surname != "" && this.w_date != "" && this.login != "" && this.password != "");
                if(this.w_name, this.w_surname, this.w_date, this.login, this.password){
                    let password = md5(this.password);
                    api.checkLogin(this.login)
                    .then(data => {
                        console.log(data);
                        
                        if(data.length == undefined || data.length == 0){

                            api.Registration(this.w_name, this.w_surname, this.w_date, this.login, password)
                            .then(data => {
                                console.log(data);
                                
                                this.$vs.notify({
                                    title:'succes',
                                    text:'Успешно',
                                    color: '#1F74FF',
                                    position: 'top-center'
                                })
                            })
                            // console.log("ude - if");
                            
                            setTimeout(() => {
                                this.$router.push("/");
                            }, 500)

                        }else{
                            // console.log("ude - if ok");

                            this.$vs.notify({
                                title:'Error',
                                text:'Логин не доступен',
                                color: '#f8173e',
                                position: 'top-center'
                            })
                        }
                    })


                }

            }
        }
        
    })
</script>


<style>
  @import url('https://fonts.googleapis.com/css?family=Philosopher');

    .goback{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100px;
        height: 40px;
        background-color: #1F74FF;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.04);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ppp{
        color: #fff;

    }

    .login{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pass{
        margin-bottom: 20px;

    }
    .reg{
        margin-top: 5px;
    }

</style>


























