<template>
     <div id="wrapper">
        <div class="back-pone"></div>
        <div class="container-login">
            <div class="goback">
                <p class="ppp" v-on:click="fun">Назад</p>
            </div> 
            <div class="sub-container">
                <div class="lefty">
                    <label class="file-i">изображение</label>
                    
                    <div class="input-add">
                        <input type="file" name="" id="image">
                    </div>

                    <vs-input label="Имя" color="rgb(213, 14, 151)" type="text" v-model="a_name"/>

                    <vs-input label="Фамилия" color="rgb(213, 14, 151)" type="text" v-model="a_surname"/>
                
                    <vs-input label="Дата рождения" color="rgb(213, 14, 151)" type="date" v-model="a_datebidth"/>

                    <vs-input label="Дата Смерти (если есть)" color="rgb(213, 14, 151)" type="date" v-model="a_datedead"/>


                </div>
                <div class="rigty">
                    <vs-textarea rows="18" counter="400" label="Описание"  v-model="description" />

                </div>
            </div>
            <vs-button color="success" type="filled" @click="addAuthor">Добавть автора</vs-button>
        </div>
     </div>
</template>

<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css' //Vuesax styles
import * as api from '../../../api/api';
import { notEqual, notDeepEqual } from 'assert';
var base64Img = require('base64-img')


Vue.use(Vuesax)


export default {
    data(){
        return{
            a_image: '',
            a_name: '',
            a_surname: '',
            a_datebidth: '',
            a_datedead: '',
            description: ''
        }
    },
    methods: {
        fun(){
            this.$router.back();
        },
        addAuthor(){
            let img = document.getElementById('image').value;
            if(img == undefined || img == ''){
                this.$vs.notify({
                    title:'error',
                    text:'картинка не указана',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }
            if(this.a_datebidth == '' && this.a_datedead){
                this.$vs.notify({
                    title:'error',
                    text:'Заполните дату',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }

            if(this.a_datedead != ''){
                if(this.a_datebidth > this.a_datedead){
                    this.$vs.notify({
                        title:'error',
                        text:'Дата рождения не может быть больше даты смерти',
                        color: '#ff1058',
                        position: 'top-center'
                    })
                    return;
                }
            }
           
            let imege = document.getElementById('image').files[0].path;
            // console.log(imege);
            let ii = base64Img.base64Sync(imege)
            this.a_image = ii;



            if(this.a_imege != "" && this.a_name != "" && this.a_surname != "" && this.a_datebidth != "" && this.description != ""){
                api.addAuthors(this.a_image, this.a_name, this.a_surname, this.a_datebidth, this.a_datedead, this.description)
                .then(data => {
                    this.$vs.notify({
                        title:'success',
                        text:'Успешно добавлено',
                        color: '#ff1058',
                        position: 'top-center'
                    })
                })
                .catch(() => {
                    this.$vs.notify({
                        title:'success',
                        text:'Ошибка',
                        color: '#f8173e',
                        position: 'top-center'
                    })
                })
                
            }else{
                this.$vs.notify({
                        title:'success',
                        text:'заполните все поля',
                        color: '#f8173e',
                        position: 'top-center'
                    })
            }
        }
    }

}
</script>

<style >
.goback{
    cursor: pointer;
}
.sub-container{
    display: flex;
    flex-direction: row;
}
.lefty,
.rigty{
    margin: 5px;
}

.rigty{
    width: 400px;
}


.file-i{
    
    padding-left: 5px;
    width: 200px;
    color: rgb(110, 110, 110);
}
.input-add{
    width: 200px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.input-add > input{
    width: 200px;
    padding: 5px;
}


</style>
