<template>
    <div id="wrapper">
        <div class="back-pone"></div>
        <div class="container-login">
        <div class="goback">
            <p class="ppp" v-on:click="fun">Назад</p>
        </div> 
        <div class="sub-container">

            <div class="lefy">
                <label class="file-i">изображение</label>
                
                <div class="input-add">
                    <input type="file" name="" id="file">
                </div>
                <vs-select
                    label="Категории"
                    v-model="categoty_id"
                    >
                    <vs-select-item :key="index" :value="item.c_id" :text="item.c_name" v-for="(item, index) in categories" />
                </vs-select>
                
                <div class="author">
                    <vs-select
                        autocomplete
                        
                        class="selectExample"
                        label="Автор"
                        v-model="author_id"
                        >
                        <vs-select-item :key="index" :value="item.a_id" :text="item.a_name" v-for="(item,index) in authors" />
                    </vs-select>
                    <vs-button class="add-auth" radius color="dark" type="line" icon="person_add" @click="addAuthors"></vs-button>
                </div>


                <vs-input label="Название" color="rgb(213, 14, 151)" type="text" v-model="w_name"/>

                <vs-input label="От кого получено" color="rgb(213, 14, 151)" type="text" v-model="fromwhom"/>

                <vs-input label="цена" color="rgb(213, 14, 151)" type="text" v-model="price"/>

                <vs-input label="Дата создания экспоната" color="rgb(213, 14, 151)" type="date" v-model="g_year"/>

                <vs-input label="Дата записи" color="rgb(213, 14, 151)" type="date" v-model="i_date"/>

            </div>


            <div class="rigty">
                <div class="tex-aria">
                    <vs-textarea rows="5" counter="20" label="Состояние"  v-model="safety" />

                    <vs-textarea rows="20" counter="400" label="Описание"  v-model="description" />
                </div>
            </div>
        </div>


            <vs-button color="success" type="filled" @click="addExpo">Добавть экспонат</vs-button>
        </div>
    </div>    
</template>

<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css' //Vuesax styles
import * as api from '../../../api/api';
var base64Img = require('base64-img')
import moment from 'moment'

Vue.use(Vuesax)



export default {
    name: 'AddExponatComponent',
    data(){
        return{
            categoty_id: '',
            author_id: null,
            w_name: '',
            w_image: '',
            categories: '',
            authors: '',
            fromwhom: '',
            safety: '',
            description: '',
            price: null,
            g_year: '',
            i_date: ''

        }
    },
    methods: {
        fun(){
            this.$router.back();
        },
        addAuthors(){
            this.$router.push('addauthor')
        },
        fg(){
            let gg = document.getElementById('sdsdsd').value;
            console.log(gg);
            
        },
        getCategories(){
            api.getCategoties()
            .then(data => {
                this.categories = data;
            })
        },
        getAuthors(){
            api.getAuthors()
            .then(data => {                
                this.authors = data;
            })
        },
        test(){
            
        },
        addExpo(){

            if(this.g_year == '' && this.i_date){
                this.$vs.notify({
                    title:'error',
                    text:'Заполните дату',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }

            if(this.g_year > this.i_date){
                this.$vs.notify({
                    title:'error',
                    text:'Дата экспоната не может быть больше текущей даты',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }
            let img = document.getElementById('file').value;
            console.log(img);
            if(img == undefined || img == ''){
                this.$vs.notify({
                    title:'error',
                    text:'картинка не указана',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }
            let image = document.getElementById('file').files[0].path;
            
            let ii = base64Img.base64Sync(image)
            this.w_image = ii;

            if(this.categoty_id == '' && this.w_name == '' && this.fromwhom == '' && this.safety && this.description == ''){
                this.$vs.notify({
                    title:'error',
                    text:'Заполните все данные',
                    color: '#ff1058',
                    position: 'top-center'
                })
                return;
            }

            let expo_id = this.generateId(this.author_id, this.g_year, this.categoty_id);
            let worker_id = localStorage.getItem("user_id");


            api.addExpo(expo_id, this.w_name, this.g_year, this.author_id, this.w_image, this.categoty_id, this.safety, this.i_date, worker_id, this.fromwhom, this.price, this.description)
            .then(date => {
                this.$vs.notify({
                    title:'success',
                    text:'Успешно добавлено',
                    color: '#ff1058',
                    position: 'top-center'
                })
            })
        },
        generateId(author_id, date_expo, categoty_id){
            let year = new Date();
            date_expo = moment(date_expo).milliseconds();
            year = moment(year).milliseconds();
            if(author_id == null)
                author_id = '0';
            let result = `${author_id}${date_expo}${year}${categoty_id}`;
            return result;
        }



    },
    created(){
        this.getCategories();    
        this.getAuthors();    
    }

}
</script>

<style>


.goback{
    cursor: pointer;
}
.file{
    width: 200px;
}

.file-i{
    
    padding-left: 5px;
    width: 200px;
    color: rgb(110, 110, 110);
}

.author{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.add-auth{
    margin-top: 12px;
    margin-left: 5px;
}

.input-add{
    width: 200px;
    border-radius: 5px;
    background-color: #fff;
}
.input-add > input{
    width: 200px;
    padding: 5px;
}


.tex-aria{
    padding-top: 10px;
    width: 400px;
    z-index: 2;
}

.sub-container{
    display: flex;
    flex-direction: row;
}

.lefy,
.rigty{
    margin: 5px;
}

</style>


