<template>
  <div id="wrapper">
      <div class="back-pone"></div>
    <div class="centerx">
    </div>
  </div>
</template>

<script>
export default {
  props: ['intervar'],
  data(){
    return {
      colorLoading:'#ff00fe',
    }
  },
  methods:{

    openLoadingColor(){
      name: 'LoadingComponent',
      this.$vs.loading({
        color:this.colorLoading,
        scale: 1.5,
        container: '.centerx'
      }),
      setTimeout( ()=> {
        this.$vs.loading.close('.centerx')
      }, 1000);
    },
   
  },
  mounted(){
      this.openLoadingColor();
      // console.log(this.intervar);
      
  }
}
</script>