<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chocolate</title>
    <!-- <style>
      body {
          padding: 0px;
          margin: 0px;
          overflow-y:hidden;
      }

      #topbar{
        -webkit-app-region: drag;
        background-color: #fff;
        height: 35px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom-style: solid;
        border-bottom-color: rgb(209, 209, 209);
        border-bottom-width: 0.1px;
      }
      
      #titleText{
        color: #000000;
        margin-left: 20px;
      }

      #button{
        -webkit-user-select: none;
        -webkit-app-region: no-drag;
        display: flex;
        flex-direction: row;
      }

      #roll{
        cursor: default;
        color: #000000;
        width: 45px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #minimaze{
        cursor: default;
        color: #000000;
        width: 45px;
        height: 35px;

        display: flex;
        align-items: center;
        justify-content: center;

      }

      #close{
        cursor: default;
        color: #000000;
        width: 45px;
        height: 35px;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      #roll:hover{
        background-color: #dfdfdf;
      }

      #minimaze:hover{
        background-color: #dfdfdf;
      }
      #close:hover{
        background-color: #ff2626;
        color: #fff;
      }


  </style> -->
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <!-- <div id="topbar">
      <div id="titleText">
        <p>chocolate</p>
      </div>
      <div id="button">
        <div id="roll">-</div>
        <div id="minimaze">&#25;</div>
        <div id="close">X</div>
      </div>
    </div> -->
      <!-- <script>
          (function () {
              // Retrieve remote BrowserWindow
              const {BrowserWindow} = require('electron').remote
              
              function init() {
                  // Minimize task
                  document.getElementById("roll").addEventListener("click", (e) => {
                      var window = BrowserWindow.getFocusedWindow();
                      window.minimize();
                  });
  
                  // Maximize window
                  document.getElementById("minimaze").addEventListener("click", (e) => {
                      var window = BrowserWindow.getFocusedWindow();
                      if(window.isMaximized()){
                          window.unmaximize();
                      }else{
                          window.maximize();
                      }
                  });
  
                  // Close app
                  document.getElementById("close").addEventListener("click", (e) => {
                      var window = BrowserWindow.getFocusedWindow();
                      window.close();
                  });
              };
  
              document.onreadystatechange =  () => {
                  if (document.readyState == "complete") {
                      init();
                  }
              };
          })();
          </script> -->
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
