<template>
    <div class="statick-draver_container">
        <div class="st-dr_title-container">
            <div class="logo-cont">
                <vs-avatar size="70px"/>
            </div>
            <p class="st-dr_title_text" >{{user}}</p>
        </div>
        <div class="st-dr_body-container">
            <div v-on:click="fun(1)" class="st-dr-nav-item" v-bind:class="[setactive == 1 ? count : '']">
                Главная
            </div>
            <div v-on:click="fun(2)" class="st-dr-nav-item" v-bind:class="[setactive == 2 ? count : '']">
                Вещественные
            </div>
            <div v-on:click="fun(3)" class="st-dr-nav-item" v-bind:class="[setactive == 3 ? count : '']">
                Изобразительные
            </div>
            <div v-on:click="fun(4)" class="st-dr-nav-item" v-bind:class="[setactive == 4 ? count : '']">
                Письменные
            </div>
            <div v-on:click="fun(5)" class="st-dr-nav-item" v-bind:class="[setactive == 5 ? count : '']">
                Фото
            </div>
            <div v-on:click="fun(6)" class="st-dr-nav-item" v-bind:class="[setactive == 6 ? count : '']">
                Инвентарная книга
            </div>

               
        </div>
        <div class="st-dr_footer-container">
            <vs-button v-on:click="exit" color="#ff0505" type="flat" icon="exit_to_app">Выйти</vs-button>
        </div>
    </div>
</template>

<script>
import * as api from '../../../api/api';



export default {
    props: ['setactive'],
    data: function () {
      return { 
            count: 'st-dr-nav-item_active',
            user: localStorage.getItem("user")
        }
    },
    methods: {
        fun(type){
            switch (type) {
                case 1:
                    this.$router.push("/home");                    
                    break;
                case 2:
                    this.$router.push("real");   
                    break;
                case 3:
                    this.$router.push("paint");   
                    break;
                case 4:
                    this.$router.push("write");   
                    break;
                case 5:
                    this.$router.push("photo");   
                    break;
                case 6:
                    this.$router.push("all");   
                    break;
                default:
                    break;
            };
        },
        exit(){
            localStorage.clear("user_id");
            this.$router.push("/");
        },

        userWiev(){
            let id = localStorage.getItem("user_id");
            api.getUserById(id)
            .then(data => {
                let userText = this.user;
                let apiText = data[0]['w_name'] + ' ' + data[0]['w_surname']

                if(userText == apiText){
                    return;
                }
                // this.user = apiText;
                
            })

        
        }
    },
    created: function () {
        // console.log('Значение a: ' + this.setactive)
        // this.fun()
    },
    mounted(){
        this.userWiev();
    }
    
}
</script>

<style >
.statick-draver_container{
    width: 200px;
    min-width: 200px;
    height: 100vh;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
}

.st-dr_title-container{
    height: 150px;
    border-bottom: 1px solid red;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-cont{
    height: 100px;
}

.st-dr_title_text{
    color: rgb(190, 16, 138);
    font-style: oblique;
    font-stretch: extra-condensed;
    font-size: 22px;
    font-weight: bold;

}

.st-dr_body-container{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    align-items: flex-start;
    width: 200px;
    height: calc(100vh - calc(150px + 10vh));
}

.st-dr_footer-container{
    border-top: 1px solid red;
    margin-left: 5px;
    margin-right: 5px;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.st-dr-nav-item{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2px;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;

}

.st-dr-nav-item:hover{
    border-right: 4px solid red;
    background-color: rgb(255, 196, 252);
    cursor: pointer;
}

.st-dr-nav-item_active{
    border-right: 4px solid rgb(59, 1, 1);
    color:rgb(1, 46, 46);
    background-color: rgb(196, 231, 255);

}

</style>
