<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'chocolate'
  }
</script>


<style>
  @import url('https://fonts.googleapis.com/css?family=Philosopher');
  #app{
    margin: 0;
    padding: 0;
  }
</style>
